
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "header.css";
@import "flex.css";
@import "research.css";
@import "contact.css";

body {
    background-color: black;
    color: white;
    font-family: "EB Garamond";
}

a, a:link {
    color: #52a5a1;
}

a:hover {
    text-decoration: underline;
}

#hparent {
    position: sticky;
    top: 0;
    background-color: black;
}

#intro {
    gap: 3em;
}

#wrapper {
    padding: 2vw 10vw;
}

#content {
    display: flex;
    padding: 2vw 10vw;
    flex-direction: column;
}

#headshot {
    animation: fadeIn 2s;
    max-width: 60%;
}

#intro-text {
    animation: fadeIn 2s;
    font-size: 1.5em;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.5em;
    font-weight: 400;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
    display: block;
    align-self: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
